.footer {
  width: 100vw;
  height: 120px;
  background-color: plum;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.footer .footer-list {
  width: 30vw;
  text-align: center;
}
.footer .footer-add {
  flex: 1;
  height: 120px;
  text-align: center;
  position: relative;
}
.footer .footer-add .add-button {
  display: block;
  position: absolute;
  top: -30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: green;
}
.footer .footer-mine {
  width: 30vw;
  text-align: center;
}
