.index {
  width: 100%;
  padding:0% 5%;
  height: 100vh;
  margin: 15rpx auto 0;
  display: flex;
  flex-direction: column;
  background-color: #5698c3;
  .index-add {
    width: 100%;
    margin: 55rpx auto 0;
    display: flex;
    justify-content: center;
    .add-item {
      width: 40vw;
      height: 10vh;
      text-align: center;
      line-height: 10vh;
      border: 1px solid blue;
    }
  }
  .index-list {
    width: 80%;
    margin: 50rpx auto;
    .list-item {
      width: 100%;
      height: 50rpx;
      line-height: 50rpx;
      display: flex;
      justify-content: space-between;
      border: 1px solid green;
      .item-name {
      }
      .item-date {
      }
    }
  }
}
