.mine {
  width: 100%;
  height: 100vh;
  padding: 20px 30px 135px 30px;
  box-sizing: border-box;
}
.mine .mine-info {
  width: 100%;
  padding-left: 30rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mine .mine-info .info-portrait {
  width: 160rpx;
  height: 160rpx;
  border-radius: 50%;
}
.mine .mine-info .info-name {
  width: 100rpx;
  margin-left: 30rpx;
  font-size: 40rpx;
}
.mine .mine-list {
  width: 100%;
  height: 60vh;
  margin-top: 100rpx;
}
.mine .mine-list .list-item {
  width: 100%;
  margin-bottom: 10px;
}
