.mine {
  display: flex;
  align-items: center;
  padding-left: 30rpx;
  .mine-image {
    width: 160rpx;
    height: 160rpx;
    border-radius: 50%;
    background-color: red;
  }
  .mine-name{
    margin-left: 30rpx;
    font-size: 40rpx;
  }
}
