.mine {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mine .mine-info {
  width: 100%;
  padding-left: 30rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mine .mine-info .info-portrait {
  width: 160rpx;
  height: 160rpx;
  border-radius: 50%;
  background-color: red;
}
.mine .mine-info .info-name {
  width: 100rpx;
  margin-left: 30rpx;
  font-size: 40rpx;
}
.mine .mine-list {
  width: 100%;
  margin-top: 100rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mine .mine-list .list-item {
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
  margin-bottom: 10rpx;
  border: 1px solid red;
}
