.index {
  width: 100vw;
  height: 100vh;
  padding: 5vh 5vw 0 5vw;
  box-sizing: border-box;
  position: relative;
}
.index .index-radio-group {
  width: 50vw;
  margin: 0 auto;
}
.index .index-radio-group .radio-commemorate {
  margin-left: 30px;
}
.index .index-avatar {
  margin: 5vh auto;
  width: 25vw;
  height: 25vw;
}
.index .index-avatar .avatar {
  width: 100%;
  height: 100%;
}
.index .index-name {
  width: 60vw;
  height: 5vh;
  margin: 0vh auto 5vh;
}
.index .index-name .name-label {
  width: 30%;
  height: 100%;
  line-height: 5vh;
  float: left;
}
.index .index-name .name-input {
  width: 70%;
  height: 100%;
  line-height: 5vh;
  float: left;
}
.index .index-date {
  width: 60vw;
  height: 5vh;
  margin: 0vh auto 5vh;
}
.index .index-date .date-label {
  width: 30%;
  height: 100%;
  float: left;
}
.index .index-date .date-select {
  width: 70%;
  height: 100%;
  float: left;
}
.index .index-submit {
  width: 60vw;
  margin: 5vh auto;
}
.index .index-submit .submit-confirm,
.index .index-submit .submit-cancel {
  width: 40vw;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  margin: 2vh auto;
  border: 1px solid #000;
  border-radius: 10px;
}
.index .index-submit .submit-confirm {
  background: #8cd790;
}
.index .index-submit .submit-cancel {
  background: #e0e3da;
}
